@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.costume {
    display: flex;
    padding: 15px;
    border: 2px solid #082264;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
