@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.App {
    width: 800px;
}

.page_counter__wrapper {
    margin-top: 30px;
    display: flex;
}

.page_current {
    border: 2px solid #F5342C;
    font-weight: bold;
}

.page_counter {
    padding: 10px;
    border: 1px solid ;
    cursor: pointer;
    background: #E97136;
    color: white;
}
.page_counter:hover {
    background: #FF9A5B;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: #E97136;
}

.navbar__links {
    margin-left: auto;
}

costume__btns {
    display: flex;
}
