.costume {
    display: flex;
    padding: 15px;
    border: 2px solid #082264;
    margin-top: 15px;
    justify-content: space-around;
    align-items: center;
}

.costume__content {
    width: 50%;
    padding-left: 15px;
}

.costumeItem-enter {
    transform: translateX(-350px);
}
.costumeItem-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.costumeItem-exit {
    opacity: 1;
}
.costumeItem-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}
